doctype html
head
    meta(charset="utf-8")
    title Christmas Letter
    link(rel="stylesheet", href="/css/master.css")
    
body
    .letterhead
        img.img(src="img/header.svg", alt="header")
    .title
        img.img.top(src="img/top.svg", alt="")
        img.img.left(src="img/left.svg", alt="")
        img.img.right(src="img/right.svg", alt="")
        img.img.bottom(src="img/bottom.svg", alt="")
        h1 Feliz Navidad
    .content
        .date
            | San Francisco de Campeche, Camp., Diciembre 12 de 2015.
        .to
            | Ing. Godínez
        .present
            | Presente
        .body
            | I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both. But this was not the only jamming jeopardy he was exposed to. Unappalled by the massacre made upon them during the night, the sharks now freshly and more keenly allured by the before pent blood which began to flow from the carcass—the rabid creatures swarmed round it like bees in a beehive.
        .atte
            | Atentamente,
        .signature
            | Lic. López
    .nativity
        img.img(src="img/nativity.svg", alt="nativity")
    
