@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);
* {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: top;
    vertical-align-border: 0; }

html {
  background: #cccccc; }

body {
  box-sizing: border-box;
  width: 8.5in;
  height: 11in;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  position: relative; }

.letterhead {
  width: 100%;
  position: relative;
  padding-top: 1em; }
  .letterhead .img {
    width: 100%; }

.title {
  position: relative;
  width: 10.3cm;
  height: 2cm;
  margin: 1em auto 0 auto; }
  .title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Great Vibes', Georgia, serif;
    font-size: 23pt;
    text-align: center;
    color: #FD6060;
    padding-top: 10pt; }
  .title .img {
    position: absolute; }
    .title .img.top {
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .title .img.bottom {
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .title .img.left {
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .title .img.right {
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }

.content {
  width: 70%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: #34495E; }
  .content .date {
    text-align: right;
    margin: 2em 0; }
  .content .to {
    font-weight: bold; }
  .content .present {
    letter-spacing: 0.2em;
    margin-bottom: 2em; }
  .content .body {
    line-height: 1.5;
    margin-bottom: 2em; }
  .content .atte {
    margin-bottom: 6em; }

.nativity {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }
  .nativity .img {
    width: 100%; }

@media print {
  -webkit-print-color-adjust: exact;
  html {
    background: none;
    padding: 0; }
  body {
    box-shadow: none;
    margin: 0; } }

@page {
  margin: 0; }
